<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>PanoSplatt3R</title>
  <!-- Bootstrap -->
  <link href="css/bootstrap-4.4.1.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<!-- cover -->
<section>
  <div class="jumbotron text-center mt-0">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2>PanoSplatt3R</h2>
          <h4 style="color:#5a6268;">ICCV 25</h4>
          <hr>
          <h6>
            <a href="http://npu-cvr.cn/" target="_blank">name1</a><sup>1*</sup>,
            <a href="http://npu-cvr.cn/" target="_blank">name2</a><sup>1*</sup>,
            <a href="http://npu-cvr.cn/" target="_blank">name3</a><sup>1</sup>,
            <a href="http://npu-cvr.cn/" target="_blank">name4</a><sup>2</sup>,
            name5<sup>1</sup>,
            name6<sup>1</sup>
          </h6>
          <p><sup>1</sup>A University &nbsp;&nbsp;
            <sup>2</sup>B University
            <br>
            <sup>*</sup> denotes equal contribution
          </p>


          <div class="row justify-content-center">
            <div class="column">
              <p class="mb-5"><a class="btn btn-large btn-light" href="https://arxiv.org/abs/xxx" role="button"
                  target="_blank">
                  <i class="fa fa-file"></i> Paper</a> </p>
            </div>
            <div class="column">
              <p class="mb-5"><a class="btn btn-large btn-light" href="" role="button" target="_blank">
                  <i class="fa fa-github-alt"></i> Code (coming soon) </a> </p>
            </div>
            <div class="column">
              <p class="mb-5"><a class="btn btn-large btn-light" href="https://xxx" role="button">
                  <i class="fa fa-file"></i> Supplementary </a> </p>
            </div>
            <!-- <div class="column">
              <p class="mb-5"><a class="btn btn-large btn-light" href="" role="button">
                  <i class="fa fa-database"></i> Data</a> </p>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- abstract -->
<section>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h3>Abstract</h3>
        <hr style="margin-top:0px">
        <p class="text-left"> The Paper Abstract. xxxxx </p>
      </div>
    </div>
  </div>
</section>
<br>

<!-- overview video -->
<section>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h3>Overview video</h3>
        <hr style="margin-top:0px">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe width="950" height="534" src="https://www.youtube.com/embed/xxx_your_video_ID" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
<br>

<!-- showcase -->
<section>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h3>XXNet Architecture</h3>
        <hr style="margin-top:0px">
        <img class="img-fluid" width="100%" src="images/network_framework.png" alt="Architecture">

        <p> Zoom in by scrolling. Some comments.</p>
      </div>
    </div>
  </div>
</section>
<br>

<!-- ablation study -->
<section>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h3>Ablation studies</h3>
        <hr style="margin-top:0px">
        <!-- <video width="100%" playsinline="" autoplay="autoplay" loop="loop" preload="" muted="">
          <source src="https://www.youtube.com/xxxxx" type="video/mp4">
        </video> -->
        <img class="img-fluid" width="95%" src="images/xxx.png" alt="ablation study">
      </div>
    </div>
  </div>
</section>
<br>

<!-- comparison -->
<section>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h3>Comparison with state-of-the-art methods</h3>
        <hr style="margin-top:0px">
        <video width="100%" playsinline="" autoplay="autoplay" loop="loop" preload="" muted="">
          <source src="./videos/xxx.mp4" type="video/mp4">
        </video>
      </div>
    </div>
  </div>
</section>
<br>

<!-- citing -->
<div class="container">
  <div class="row ">
    <div class="col-12">
      <h3>Citation</h3>
      <hr style="margin-top:0px">
      <pre style="background-color: #e9eeef;padding: 1.25em 1.5em">
<code>@inproceedings{xx,
  title={Your Paper Title},
  author={author list},
  booktitle={xxxx},
  year={xxxx}
} !! Please replace this code with your own paper info.
It is best not to add blank lines or extra indentation.
</code></pre>
      <hr>
    </div>
  </div>
</div>

<footer class="text-center" style="margin-bottom:10px">
  <br>
  Thanks to <a href="https://lioryariv.github.io/" target="_blank">Lior Yariv</a> for the website template.
</footer>

</body>

</html>